---
layout: base.njk
---
{% block hero %}
  {% include './partials/_hero.njk' %}
{% endblock hero %}

<section id="posts" class="my-10 md:my-20">
  {% block postslists %}

  {% endblock postslists %}
</section>