---
layout: base.njk
---
{% block featuredWorks %}
  {% include '../_components/_featuredWorks.njk' %}
{% endblock featuredWorks %}

{% block services %}
  {% include '../_components/_services.njk' %}
{% endblock services %}