---
layout: base.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - works
    - posts
  addAllPagesToCollections: true
eleventyComputed:
  metaTitle: "{{ tag }} articles"
  metaDescription: "everything about {{ tag }}"
  title: "{{ tag }}"
  description: "Everything tagged under {{ tag }}."
permalink: /tags/{{ tag }}/
---
<section class="py-8 lg:-mt-32 lg:pb-32">
  <div class="max-w-screen-xl m-auto px-5">
    <h1 class="mb-5 text-5xl md:text-7xl tracking-tighter font-bold text-gray-800 dark:text-white">Tags</h1>
    {% set postslist = collections[ tag ] %}
    <ul class="md:grid md:grid-cols-2 md:gap-5 list-inside list-disc">
      {% for post in postslist  %}
        {% if post.data.published %}
        <li class="mb-10 md:mb-2">
          <article class="inline-block">
            <h3 class="mb-2 inline">
              <a
                href="{{ post.url | url }}"
                title="read {{ post.data.title }}"
                class="font-semibold transition text-xl border-b hover:text-purple-800 border-gray-200 hover:border-purple-300 dark:text-yellow-200 dark:border-gray-800 dark:hover:text-yellow-400 dark:hover:border-yellow-100 dark:visited:text-gray-300"
              >
                {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
              </a>
            </h3>
            <time datetime="{{ post.date | htmlDateString }}" class="font-serif text-gray-600 text-sm dark:text-gray-300">&mdash; {{ post.date | readableDate }}</time>
          </article>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>