<section id="works" class="pb-24 md:pb-36">
  <div class="px-5 max-w-screen-xl lg:mx-auto">
    <div class="py-10 grid gap-x-2 gap-y-5 sm:gap-y-8 grid-cols-1 md:grid-cols-1 md:grid-flow-row-dense">

      <div class="md:col-span-2 mb-5">
        <span class="block text-xl tracking-tight text-gray-700 dark:text-gray-300 mb-5 md:w-2/3">
        {{ data.featuredWorkDescription }}
        </span>
            <a class="bg-transparent  text-blue-600 hover:bg-blue-100 dark:text-blue-300   dark:hover:bg-blue-900 font-bold py-2 px-5 rounded-full inline-flex items-center" href="https://drive.google.com/file/d/1j9cZYIwNCbRnsbjPiPZ5wO6PfcKAEmfO/view?usp=sharing" target="_blank">
             <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
             <span>Download Resume</span>
            </a>

      </div>

      {% for item in collections.works | reverse%}
        {% if item.data.featured and item.data.publish %}
          <a
          href="{{item.url}}"
          title="view {{item.data.title}}"
          class="col-span-3 post bg-gray-800 relative md:transform md:hover:-translate-y-2 md:transition-transform"
          >
            <article class="flex sm:flex-row flex-col" style="background-color: #{{item.data.bgColor}}">
            <header class="sm:w-2/5 p-8 lg:p-16">
              <span class="text-gray-800 text-3xl tracking-tighter font-bold block">{{ item.data.title }}</span>
              <span class="text-gray-600 text-base font-normal">{{ item.data.tasks }}</span>
            </header>
            <picture class="block sm:w-3/5 ">
            {% respimg item.data.featuredImg, item.data.title %}
            </picture>
            </article>
          </a>
        {% endif %}
      {% endfor %}

    </div>
  </div>
</section>