
<div class="{%- if topColor -%}{{topColor}}{%- endif -%} {% if page.url !== '/' %}pb-32 lg:pb-64{% endif %}">
  <header class="relative max-w-screen-xl mx-auto h-24 p-5 md:flex md:justify-between md:items-center">
      <!-- logo -->
      <a href="/" title="back to homepage" class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" class="dark:text-white text-gray-700 hover:text-blue-500" width="52" height="52" viewBox="0 0 52 52">
          <g clip-path="url(#a)">
            <path fill="currentColor" d="M13.439 34.24c0 2.02-1.598 3.659-3.568 3.659s-3.568-1.639-3.568-3.66 1.597-3.66 3.568-3.66c1.97 0 3.568 1.639 3.568 3.66Zm32.258 0c0 2.02-1.598 3.659-3.568 3.659s-3.568-1.639-3.568-3.66 1.598-3.66 3.568-3.66 3.568 1.639 3.568 3.66Zm-21.08-5.428-4.612 8.365a.469.469 0 0 1-.84-.027L8.345 14.347h10.25l6.022 14.465Zm11.53-14.465h-9.55v23.636h9.695l-.145-23.636Z"/>
          </g>
          <defs>
            <clipPath id="a">
              <path fill="#fff" d="M0 0h52v52H0z"/>
            </clipPath>
          </defs>
        </svg>
      </a>
      <nav class="hidden md:block py-1">
        {% set navPages = collections.all | eleventyNavigation %}
        <ul class="text-right">
          {%- for entry in navPages %}
          <li class="inline-block mr-5">
            <a
            href="{{ entry.url | url }}"
            class="font-bold transition-colors dark:hover:text-blue-200 hover:text-black
            {% if entry.url == page.url %} dark:text-blue-200 text-black {% else %}dark:text-white text-gray-700 {% endif %}"
            >{{ entry.title }}</a>
          </li>
        {%- endfor %}
          <li class="inline-block">
            <a
              href="{{ metadata.author.mailtolink }}"
              title="get in touch"
              target="_blank"
              rel="noreferrer"
              class="text-gray-800 dark:text-blue-300 dark:hover:bg-blue-900 py-2 px-5 rounded-full font-bold border-2 border-gray-900 dark:border-blue-100 border-opacity-20 transition-colors hover:border-opacity-100"
            ><span>Get in touch</span>
            </a>
          </li>
        </ul>

      </nav>
  </header>
</div>