  {% if tags %}
    {% if 'works' in tags %}
      {% set previousPost = collections.works | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.works | getNextCollectionItem(page) %}
      {% set middleText = 'browse' %}
      {% endif %}

    {% if 'posts' in tags %}
      {% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {% set nextPost = collections.posts | getNextCollectionItem(page) %}
      {% set middleText = 'read' %}
    {% endif %}
  {% endif %}

{% if previousPost or nextPost %}
<section class="grid max-w-screen-xl mx-auto px-5">
<div class="col-start-3 col-end-9">
  <section class="bg-white dark:bg-gray-900 rounded-lg">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 ">
      <div class="mx-auto max-w-screen-md sm:text-center">
          <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl dark:text-white">📨  Never miss an update!</h2>
          <p class="mx-auto mb-8 max-w-2xl font-normal text-gray-500 md:mb-12 sm:text-xl dark:text-gray-400">Stay up to date with 🎨 UI/UX & 🔥 Productivity tips, announcements and exclusive discounts feel free to sign up with your email.</p>
          <form action="#">
              <div class="items-center mx-auto mb-3 space-y-4 max-w-screen-sm sm:flex sm:space-y-0">
                 <iframe class="flex text-gray-100" src="https://embeds.beehiiv.com/aba9b657-6f96-4754-90b3-fa74c6a8d4a6?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="width: 100%; margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
              </div>
              <div class="mx-auto max-w-screen-sm text-sm text-left text-gray-500 newsletter-form-footer dark:text-gray-400">I hate spams too!</div>
          </form>
      </div>
  </div>
</section> 

<div class="grid grid-cols-2 mt-10 max-w-screen-md mx-auto px-5 md:px-0 gap-x-2 border-t border-gray-200 dark:border-gray-800">
  <div id="previousPost" class="py-5">
    {% if previousPost %}
    <strong class="block text-xs tracking-widest font-normal uppercase text-gray-400" aria-label="Navigate to previous item">Previous</strong>
    <a href="{{ previousPost.url }}" class="text-lg hover:text-blue-800 dark:hover:text-blue-200 transition-colors font-bold tracking-tight">
      <span class="block" style="min-height:60px;">{{ previousPost.data.title }}</span>
      {% if previousPost.data.featuredImg %}
        <picture class="inline">
          <img
            class="inline"
            loading="lazy"
            alt="{{ previousPost.data.title }}"
            src="https://res.cloudinary.com/mmdsharifi/image/upload/v1613700746/mmdsharifi.com/{{previousPost.data.featuredImg}}.webp"
            srcset="https://res.cloudinary.com/mmdsharifi/image/upload/dpr_auto,q_auto,w_200/v1613700746/mmdsharifi.com/{{previousPost.data.featuredImg}}.webp 400w"
          />
        </picture>
      {% endif %}
    </a>
    {% endif %}
  </div>

  <div id="nextPost" class="w-full py-5 text-right">
    {% if nextPost %}
    <strong class="block text-xs tracking-widest font-normal uppercase text-gray-400" aria-label="Navigate to Next item">Next</strong>
    <a href="{{ nextPost.url }}" class="text-lg leading-tight tracking-tight font-bold hover:text-blue-800 dark:hover:text-blue-200 transition-colors">
      <span class="block" style="min-height:60px;">{{ nextPost.data.title }}</span>
      {% if nextPost.data.featuredImg %}
        <picture class="inline">
          <img
            class="inline"
            loading="lazy"
            alt="{{ nextPost.data.title }}"
            src="https://res.cloudinary.com/mmdsharifi/image/upload/v1613700746/mmdsharifi.com/{{nextPost.data.featuredImg}}.webp"
            srcset="https://res.cloudinary.com/mmdsharifi/image/upload/dpr_auto,q_auto,w_200/v1613700746/mmdsharifi.com/{{nextPost.data.featuredImg}}.webp 400w"
          />
        </picture>
      {% endif %}
    </a>
    {% endif %}
  </div>
</div>
{% endif %}
