<section id="post-head" class="px-5 max-w-screen-xl mx-auto lg:-mt-36">
  {# this is for work #}
  {% if tags %}
    {% if 'works' in tags %}
    <div class="grid grid-cols-12 gap-5">
      <div class="col-span-full lg:col-start-1 lg:col-end-10 pb-8 md:py-10">
        <h1 class="text-4xl md:text-5xl md:leading-tight tracking-tighter font-bold text-gray-800 dark:text-white">{{ title }} </h1>
        <P class="my-10 md:my-16 text-xl font-lg lg:w-2/3">{{ description }}</p>
        <div class="text-sm flex flex-col space-y-10 md:space-y-0 md:flex-row md:justify-between md:items-center">
        <p>
          <span class="text-xs uppercase font-bold text-gray-600 dark:text-gray-400 tracking-widest block">Services</span>
          <span class="text-2xl font-bold tracking-tighter text-gray-800 dark:text-gray-200">{{ tasks }}</span>
        </p>
        <p>
          <span class="text-xs uppercase font-bold text-gray-600 dark:text-gray-400 tracking-widest block">Year</span>
          <span class="text-2xl font-bold tracking-tighter text-gray-800 dark:text-gray-200">{{ year }}</span>
        </p>
        {% if projectUrl %}
          <a href="{{ projectUrl}}" title="{{ title }}" target="_blank" rel="noreferrer" class="text-purple-800 bg-purple-100 transition-colors hover:text-purple-100 hover:bg-purple-800 dark:text-yellow-900 dark:bg-yellow-400 dark:hover:bg-yellow-200 dark:hover:text-yellow-900 font-bold tracking-tight text-lg py-3 px-5 rounded-full inline-flex items-center justify-center">
            <svg class="inline-block w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
            View Live
          </a>
        {% endif %}
        </div>
      </div>

      <div class="col-span-full">
        {% if featuredImg %}
          {% respimg featuredImg, title, 'w-full' %}
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% else %}
    {# for single page #}
    <div class="grid grid-cols-12 gap-5 mb-6">
      <div class="col-start-1 col-end-12 lg:col-end-8 pt-10">
        <h1 class="text-5xl md:text-5xl md:leading-tight tracking-tighter font-bold text-gray-800 dark:text-white">{{title}}</h1>
        <P class="mt-6 text-lg font-normal dark:text-gray-300">{{ description }}</p>
      </div>
    </div>
  {% endif %}

    {# this is only for posts #}
  {% if tags %}
    {% if 'posts' in tags %}
    <div class="md:grid grid-cols-10 gap-x-10 gap-y-5 mt-12">
      <div class="col-span-full lg:col-start-3 lg:col-end-9">
        <h1 class="text-4xl md:text-5xl font-bold tracking-tighter dark:text-white">{{title}}</h1>
        <P class="mt-6 text-xl font-xl dark:text-gray-300">{{ description }}</p>
      </div>
      {% if featuredImg %}
          {% respimg featuredImg, title, 'mt-6 col-span-full lg:col-start-2 lg:col-end-10 w-full mb-5' %}
      {% endif %}
      {% include './_postmeta.njk' %}
    </div>
    {% endif %}
  {% endif %}

</section>