<header class="">
  <div class="p-5 lg:p-10 flex items-center justify-between">
    <!-- logo -->
    <a href="/" title="back to homepage" class="flex w-9 logo">
      <img width="36" height="36" loading=lazy src="https://res.cloudinary.com/kailoon/image/upload/v1610896578/kailoon.com/logo_stqiiw.svg"
        alt="this is my logo" />
    </a>
    <nav class="hidden md:flex md:items-center">
      {% set navPages = collections.all | eleventyNavigation %}
      <ul>
        {%- for entry in navPages %}
        <li class="inline-block mr-8">
          <a
          href="{{ entry.url | url }}"
          class="text-black font-semibold pb-3 border-b
          {% if entry.url == page.url %} border-gray-900{% else %} border-white{% endif %}
          hover:border-gray-200"
          >{{ entry.title }}</a>
        </li>
      {%- endfor %}
      </ul>
      <a
      href="{{ metadata.author.mailtolink }}"
      title="get in touch"
      target="_blank"
      rel="noreferrer"
      class="text-gray-800 py-2 p-5 rounded-full font-semibold border-2 border-gray-900 border-opacity-10 transition-colors md:flex items-center hover:border-opacity-100"
    ><span>Get in touch</span>
    </a>
    </nav>

  </div>
</header>