<header class="relative">
  <div class="p-5 lg:p-10 flex items-center justify-between">
    <!-- logo -->
    <a href="/" title="back to homepage" class="logo">
      <svg class="dark:text-white transform scale-75" width="52" height="52" xmlns="http://www.w3.org/2000/svg" fill="currentColor"  xmlns:v="https://vecta.io/nano">
      <path d="M52 39a13.02 13.02 0 0 1-13-13 13.02 13.02 0 0 1 13-13v26zM26 13L13 26l13 13V13z"/>
      <path d="M13 39L0 52V13L13 0V39Z"/>
      </svg>
    </a>
    <nav class="hidden md:flex md:items-center">
      {% set navPages = collections.all | eleventyNavigation %}
      <ul>
        {%- for entry in navPages %}
        <li class="inline-block mr-8">
          <a
          href="{{ entry.url | url }}"
          class="text-black dark:text-gray-200 font-semibold pb-3 border-b
          {% if entry.url == page.url %} border-gray-900 dark:border-white dark:text-white{% else %} border-white dark:border-gray-900{% endif %}
          hover:border-gray-200"
          >{{ entry.title }}</a>
        </li>
      {%- endfor %}
      </ul>
      <a
      href="{{ metadata.author.mailtolink }}"
      title="get in touch"
      target="_blank"
      rel="noreferrer"
      class="text-gray-800 dark:text-yellow-200 py-2 p-5 rounded-full font-semibold border-2 border-gray-900 dark:border-yellow-100 border-opacity-10 transition-colors md:flex items-center hover:border-opacity-100"
    ><span>Get in touch</span>
    </a>
    </nav>

  </div>
</header>