<!-- hero -->
<section id="hero" class="pt-8 md:pt-32">
  <div class="max-w-screen-xl m-auto px-5">
      {# this is for homepage #}
      <img src="{{metadata.author.avatar}}" class="rounded-full w-16 h-16 mb-5" alt="my avatar" width="64" height="64" />

      <div class="font-black grid grid-cols-12 gap-5">
        <div class="col-start-1 col-end-12 lg:col-end-10">
          <h1 class="text-5xl md:text-7xl tracking-tighter font-bold md:mb-3 text-gray-800 dark:text-white">{{ title | safe }} </h1>
          {# <h2 class="text-xl md:text-3xl text-gray-700 font-normal dark:text-gray-400"> {{ description }}</h2> #}
        </div>
      </div>
  </div>
</section>
<!-- hero end -->
</div>