
  <div class="col-span-full lg:col-start-3 lg:col-end-9 text-sm">
    <span>Published on <time datetime="{{ page.date | htmlDateString }}" class="font-serif text-gray-600 dark:text-gray-300 italic">{{ page.date | readableDate }}</time></span>
    <span>in
      {% for tag in tags %}

        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="text-purple-800 hover:no-underline dark:text-white underline">{{ tag }}</a>
          {%- if loop.last %}. {% endif -%}
          {% if loop.length - loop.index == 1 %} & {% endif %}
          {%- if loop.length - loop.index > 1 %},  {% endif -%}
        {%- endif -%}

      {% endfor %}
    </span>
  </div>
