<ol class="col-start-1 col-end-9">
  {% for post in postslist %}
    {% if post.data.published %}
    <li class="py-20 border-t border-gray-200 dark:border-gray-800 md:pb-10 md:mb-10">
      <article class="md:grid md:grid-cols-6 md:gap-10">
        {% if post.data.featuredImg %}
          <picture class="hidden md:block md:col-start-1 md:col-end-3 w-full">
            <img
              loading="lazy"
              alt="{{ post.data.title }}"
              src="https://res.cloudinary.com/kailoon/image/upload/v1613700746/kailoon.com/{{post.data.featuredImg}}.webp"
              srcset="https://res.cloudinary.com/kailoon/image/upload/dpr_auto,q_auto,w_295/v1613700746/kailoon.com/{{post.data.featuredImg}}.webp 768w"
            />
          </picture>

        {% endif %}
        <div class="md:col-start-3 md:col-end-7">
          <h3>
            <a
              href="{{ post.url | url }}"
              title="read {{ post.data.title }}"
              class="font-bold text-2xl md:text-3xl tracking-tighter hover:text-purple-800 dark:text-gray-200 dark:hover:text-yellow-200"
            >
              {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
            </a>
          </h3>

          <p class="pt-6 text-gray-800 dark:text-gray-300 text-lg"> {{ post.data.subHeading }} <time datetime="{{ post.date | htmlDateString }}" class="font-serif whitespace-nowrap text-gray-600 dark:text-gray-400 italic">&mdash; {{ post.date | readableDate }}</time></p>
        </div>
      </article>
    </li>
    {% endif %}
  {% endfor %}
</ol>
