<ol class="col-start-4 col-end-13">
  {% for post in postslist %}
    {% if post.data.published %}
    <li class="py-20 border-t border-gray-100 dark:border-gray-800 md:border-b md:border-t-0 md:pt-0 md:pb-10 md:mb-10">
      <article class="md:grid md:grid-cols-6 md:gap-5">
        <div class="md:col-start-1 md:col-end-5">
          <h3 class="mb-2">
            <a
              href="{{ post.url | url }}"
              title="read {{ post.data.title }}"
              class="font-bold text-2xl border-b hover:text-purple-800 border-gray-100 hover:border-purple-300 dark:text-yellow-200 dark:border-gray-800 dark:hover:text-yellow-400 dark:hover:border-yellow-100"
            >
              {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
            </a>
          </h3>

          <span class="text-gray-700 dark:text-gray-300 text-xl"> {{ post.data.description }}</span>
          <time datetime="{{ post.date | htmlDateString }}" class="font-serif text-gray-600 text-sm dark:text-gray-300">&mdash; {{ post.date | readableDate }}</time>
        </div>
        {% if post.data.featuredImg %}
          {% respimg post.data.featuredImg, post.data.title, 'hidden md:block md:col-start-5 md:col-end-7' %}
        {% endif %}
      </article>
    </li>
    {% endif %}
  {% endfor %}
</ol>
