<div class="col-span-full lg:col-start-3 lg:col-end-9 text-base">
  <span>Published on <time datetime="{{ page.date | htmlDateString }}" class="font-serif text-gray-600 dark:text-gray-300 italic">{{ page.date | readableDate }}</time></span>
  <span>in
    {% for tag in tags %}

      {%- if collections.tagList.indexOf(tag) != -1 -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="text-gray-800 font-bold hover:text-purple-800 dark:text-gray-200 dark:hover:text-yellow-200">{{ tag }}</a>
        {%- if loop.last %}. {% endif -%}
        {% if loop.length - loop.index == 1 %} & {% endif %}
        {%- if loop.length - loop.index > 1 %},  {% endif -%}
      {%- endif -%}

    {% endfor %}
  </span>
</div>
