<section id="post-head" class="px-5 max-w-screen-xl mx-auto lg:-mt-36">
  {# this is for work #}
  {% if tags %}
    {% if 'works' in tags %}
    <div class="grid grid-cols-12 gap-5">
      <div class="col-start-1 col-end-12 lg:col-end-6 py-10">
        <h1 class="text-2xl md:text-3xl font-medium dark:text-white">{{ title }} </h1>
        {% if projectUrl %}
          <a href="{{ projectUrl}}" title="{{ title }}" target="_blank" rel="noreferrer" class="text-sm dark:text-yellow-200 underline hover:no-underline text-gray-600">Visit project site</a>
        {% endif %}
        <P class="mt-12 text-2xl font-normal font-serif">{{ description }}</p>
        <div class="text-sm flex justify-between items-center pt-12">
        <p>Services<br><strong class="text-base">{{ tasks }}</strong></p>
        <p>Year<br><strong class="text-base">{{ year }}</strong></p>
        </div>
      </div>

      <div class="col-span-full lg:col-start-7 lg:col-end-13">
        {% if featuredImg %}
          {% respimg featuredImg, title, 'w-full' %}
        {% endif %}
      </div>
    </div>
    {% endif %}

    {% else %}
    <div class="grid grid-cols-12 gap-5 border-b-4 dark:border-gray-800 pb-12 border-gray-200">
      <div class="col-start-1 col-end-12 lg:col-end-10 pt-10">
        <h1 class="text-2xl md:text-3xl font-medium dark:text-white">{{title}}</h1>
        <P class="mt-2 text-2xl font-normal font-serif dark:text-gray-300">{{ description }}</p>
      </div>
    </div>
  {% endif %}
    {# this is only for posts #}



  {% if tags %}
    {% if 'posts' in tags %}
    <div class="md:grid grid-cols-10 gap-x-10 gap-y-5">
      <div class="col-span-full lg:col-start-3 lg:col-end-9">
        <h1 class="text-4xl md:text-5xl font-medium tracking-tighter dark:text-white">{{title}}</h1>
        <P class="mt-2 text-xl font-normal font-serif dark:text-gray-300">{{ description }}</p>
      </div>
      {% if featuredImg %}
          {% respimg featuredImg, title, 'col-span-full lg:col-start-2 lg:col-end-10 w-full mb-5' %}
      {% endif %}
      {% include './_postmeta.njk' %}
    </div>
    {% endif %}
  {% endif %}

</section>